#feedback-button {
	float: left;
	margin-left: 20px;
}

#feedback_popup>.olControlPortalToolbar, .feedback-form-left {
	display: table-cell;
	vertical-align: middle;
}

.feedback-form-left {
	min-width: 8em;
	padding-left: 10px;
	text-align: left;
}

#feedback_popup>.olControlPortalToolbar {
	margin: 0px;
	padding: 0px;
}