#info_popup #result_area {
	overflow: auto;
	height: 100%;
}

#info_popup .layer_results {
	margin-bottom: 1em;
	color: #fff;
}

.info-magnifier {
	width: 20px;
	height: 20px;
}

#info_popup .layer_results table {
	width: 100%;
	border-collapse: collapse;
}

#info_popup .layer_results table .data {
	border: 1px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#info_popup .layer_results table .command {
	border: 0px;
}
