#loading-shade {
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading-msg {
	min-width: 12em;
	padding: 15px;
	background: white;
}

.dialog {
	background: white;
	border: 1px solid gray;
	text-align: center;
}

.dialog-title {
	text-align: center;
	border-bottom: 1px solid gray;
	line-height: 30px;
	height: 30px;
}

.dialog-close {
	background: url("images/close.png");
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px;
	width: 20px;
	height: 20px;
}

.dialog-modal {
	background: rgba(0, 0, 0, 0.5);
}

.dialog-ok-button {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	color: #ccc;
	background-color: #38c;
}

.ui-input-container, .ui-text-area-field-container {
	margin: 10px;
}

.ui-label, .ui-text-area-field-label {
	text-align: left;
	min-width: 8em;
}

.layer-list-accordion-header {
	color: white;
	padding: 10px;
	margin: 5px 0;
	background: #38c;
}

.layer-list-accordion {
	background: white;
	padding: 5px;
}

.layer-list-accordion .ui-label {
	width: 100%;
}

.layer-list-accordion>.ui-input-container {
	height: 34px;
	margin: 0;
}