#legend_panel {
	padding: 2px;
	min-width: 400px;
	min-height: 400px;
}

#legend_panel_content {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.layer_legend_container {
	margin: 5px;
	border: 1px solid lightgray;
}

.layer_legend_header {
	height: 30px;
	display: table;
	width: 100%;
}

.layer_legend_name, .layer_legend_source_label,
	.layer_legend_source_link {
	line-height: 30px;
	display: table-cell;
}

.layer_legend_name {
	font-weight: bold;
	padding: 0px 5px;
	width: auto;
}

.layer_legend_source_label {
	width: 6em;
}

.layer_legend_source_link {
	padding-right: 5px;
	width: 0;
}

.legend_image {
	margin: 5px;
}