.auth-input-container {
	display: table-row;
}

.auth-label,.auth-input {
	display: table-cell;
}

.auth-label {
	padding: 10px 5px;
}

.auth-dialog .auth-submit {
	margin: 10px auto;
	display: table;
}